:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #000;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
}

#app {
  width: 100%;
  height: 100%;
}
